body{
    background: rgb(216, 211, 211);
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    padding-top: 2em;    
    font-weight: bolder;
}
h2{
    text-align: left;
    color: rgb(58, 52, 52);
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
    padding: 2em;

}
ol{
    /* overflow: scroll; */

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-right: 3em;
    margin-left: 3em;
}
nav{
    width: 960px;
    margin: 0px auto;
}
img{
    width: 200px;
    height: 200px;
    border: solid rgb(35, 37, 8);
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-top: 4em;
}

